.newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar)
}

.newsletter-content {
    display: flex;
    flex-direction: column;

    text-align: left;
    color: #fff;
}

.newsletter-content p {
    font-family: var(--font-family);
    font-size: 12px;
    line-height: 30px;
    font-weight: 500;
}

.newsletter-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    line-height: 45px;
    font-weight: 800;
}

.newsletter-btn {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.newsletter-btn button {
    flex: 0.6;
    width: 100%;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #980000;
    border: 2px solid #9b0000;
    padding: 0 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}



.newsletter-btn input{
    flex: 1.2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    border: 2px solid rgb(255, 255, 255);
    padding: 0 1rem;
    outline: none;
    color: #a09f9f;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 1rem;
    margin-left: 1rem;
}


@media screen and (max-width: 650px) {
    .newsletter {
        flex-direction: column;
    }

    .newsletter-btn {
        margin: 2rem 0 0;
    }

    .newsletter-btn input,
    .newsletter-btn button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .newsletter {
        flex-direction: column;
        margin: 4rem 2rem;
    }

    .newsletter-content h3 {
        font-size: 18px;
        line-height: 32px;
    }

    .newsletter-btn input,
    .newsletter-btn button {
        font-size: 12px;
        line-height: 16px;
    }
}