.events {
    display: flex;
    flex-direction: row;
}

.events-image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 2rem;
}

.events-image img {
    width: 90%;
    height: 100%;
}

.events-content {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
}

.events-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 30px;
    line-height: 75px;
    margin: 1rem 0;
}

.events-content p {
    color: var(--color-text);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 2rem;
}

.events-content button {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    background: #980000;
    border: 2px solid #9b0000;
    padding: 1rem;
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
}

@media screen and (max-width: 950px) {
    .events {
        flex-direction: column;
    }

    .events-image {
        margin: 1rem 0;
    }

    .events-image img {
        width: 100%;
        height: 100%;
    }

    .events-content {
        margin-top: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .events-image img {
        width: 100%;
        height: 100%;
    }
    .events-content h1 {
        font-size: 40px;
        line-height: 52px;
    }
    .events-content button {
        font-size: 16px;
        line-height: 24px;
    }
}

@media screen and (max-width: 550px) {
    .events-content h1 {
        font-size: 30px;
        line-height: 42px;
    }
    .events-content button {
        font-size: 12px;
        line-height: 16px;
    }

}