.tem{
    width: 80%;
    margin-left: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.tem h1{
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 40px;
    line-height: 75px;
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: 4.7rem;
    text-align: left;
}

.container1{
    display: flex;
    margin-top: -2.5rem;
}

.container{
    width: 80%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.person{
    width: 60%;
    perspective: 62.5rem;
    cursor: pointer;
}

.personi{
    position: relative;
    width: 100%;
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.front{
    backface-visibility: hidden;
}

.front img{

    height: 55vh;
    width: 25vw;
    border-radius: 15px;
}

.back{
    backface-visibility: hidden;
    position: absolute;
    height: 55vh;
    width: 25vw;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: rotateY(180deg);
    background: radial-gradient(ellipse at 49% 84%, rgba(255, 238, 238, 1) 0%, rgba(255, 242, 242, 1) 19%, rgba(255, 159, 159, 1) 100%);
    border-radius: 15px;
    box-shadow: 7px -12px 53px -7px rgba(252,186,186,0.79);
    -webkit-box-shadow: 7px -12px 53px -7px rgba(252,186,186,0.79);
    -moz-box-shadow: 7px -12px 53px -7px rgba(252,186,186,0.79);
}

.back p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--color-subtext);
    cursor: pointer;
    margin: 2rem;
}

.back h2{
    font-size: 30px;
    line-height: 45px;
    font-weight: 800;
    font-family: var(--font-family);
    max-width: 510px;
    color: var(--color-subtext);
    margin-top: 1.2rem;
}

.person:hover .personi{
    transform: rotateY(-180deg);
}


@media screen and (max-width: 900px) {
    .back p{
        font-size: 12px;
        line-height: 20px;
        margin: 1.2rem;
    }

    .back h2{
        font-size: 22px;
        margin-top: 0.7rem;
    }
}

@media screen and (max-width: 550px) {
    .tem h1{
        font-size: 30px;
    }
    .back p{
        font-size: 10px;
        line-height: 16px;
        margin: 0.8rem;
    }

    .back h2{
        font-size: 16px;
        margin-top: 0.5rem;
    }

    .container1{
        flex-direction: column;
        width: 20rem;
    }

}
